body {
  font-size: 16px;
  color: #fff;
  background-color: #dddddd;
  font-family: "Varela Round", sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #bbbbbb;
  border-color: #000000;
  border-radius: 0;
  border: 1;
  min-height: 75px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #222222;
  font-size: 1.5em;
  
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#nav-list a { 
  color: #222222;
  text-align: center;
}
#nav-list hr {
  margin-top: 5px;
  margin-bottom: 0px;
}

/** Main Content **/

#main-content {
  border: 0;
}

#our-menu {
  color: #222222;
  font-size: 1.5em;
  margin-top: 0px;
  margin-bottom: 20px;
}

#menu-content {
  background-color: #bbbbbb;
  color: #222222;
  font-size: .75em;
}

#menu-content h3 {
  font-size: 1.5em;
}